:root {
    --blue: #96e6e4;
    --white: #e0f8f6;

    --darkBlue: #047b77;
    --mediumBlue: #3DCCC7;
}

body {
    background-color: var(--white);
}

.navbar {
    background-color: var(--blue);
}
.navbar-brand > img{
    margin-right: 10px;
}
.cartWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 0 2px var(--darkBlue);
    background-color: #dbe4ee3d;
    min-width: 75px;
}
.cartWidget > p {
    margin: 0;
}

main {
    padding: 20px 50px;
}

.detailContainer{
    margin: 15px 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral;
}