:root {
    --blue: #96e6e4;
    --white: #e0f8f6;

    --darkBlue: #047b77;
    --mediumBlue: #3DCCC7;
}

body {
    background-color: var(--white);
}
main {
    padding: 20px 50px;
    margin-bottom: 30px;
}

h5 {
    font-weight: 600;
}
p {
    margin: 0;
}

.btn {
    border: transparent solid 2px;
    background-color: var(--blue);
    margin: 0 10%;
    width: 80%;
}
.btn p {
    margin: 0;
}
.btn:hover:not(:disabled:hover){
    border: var(--mediumBlue) solid 2px;
}
.btn:disabled {
    filter: grayscale(70%);
	background-color: var(--blue);
	border-color: transparent;
}

.itemPrice {
    font-size: larger;
    text-align: center;
}