
.itemCount {
    width: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.controls {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
}

.itemCount button {
    padding: 3px;
    background-color: var(--blue);
    border: var(--darkBlue) solid 2px;
    border-radius: 3px;
}

.controls button{
    width: 40px;
}
.controls p {
    margin-bottom: 0;
}

.cartBtn {
    align-self: center;
    width: 50px;
    margin: 5px 0;
}
.cartBtn:disabled {
    filter: grayscale(70%);
}
